footer {
    font-size: 0.8rem;
    background-color: #343a40;

    p {
        margin-bottom: 0.3rem;
        color: #6c757d;
    }

    a:hover {
        color: $cus-yellow;
        text-decoration: none;
    }
}

footer p, .btn-any {
    color: #6c757d;
}