#cus--friends {
    height: 35vh;
    background-color: $cus-yellow;
}

.dot {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    position: relative;

    &:hover {
        text-decoration: none;
        opacity: 1;
        color: white;
    }
}

.tooltip-facebook {
    display: none;
    position: absolute;
    top: -1.5rem;
    right: translate(-50%);
    background-color: black;
    color: white;
    border-radius: 8px;
}
.tooltip-twitter {
    display: none;
    position: absolute;
    top: -1.5rem;
    right: translate(-50%);
    background-color: black;
    color: white;
    border-radius: 8px;
}
.tooltip-google {
    display: none;
    position: absolute;
    top: -1.5rem;
    right: translate(-50%);
    background-color: black;
    color: white;
    border-radius: 8px;
}

.twitter-blue {
    background-color: rgb(29,161,242);
}
.facebook-blue {
    background-color: rgb(59,89,152);
}
.google-red {
    background-color: rgb(211,72,54);
}
