
.cus--icon {
    font-size: 3.5rem;
    border-left: 1px solid $cus-magenta;
    color: $cus-magenta;

    @media (max-width: 992px) {
        border-left: 0;
        border-right: 1px solid $cus-magenta;
    }
}
.cus--unlimited-br {
    width: 5rem;
    background-color:rgba(0, 0, 0, 0.05);
    height: 1px;
    border: none;
    text-align: center;
}